.button:hover {
  background: rgb(93, 164, 192);
  color: rgb(180, 180, 180);
}

.button:active {
  box-shadow: 2px 2px 4px gray inset;
}

.form:hover {
  background: rgb(189, 187, 187);
}

.form:focus {
  box-shadow: 2px 2px 4px gray inset;
}

.mainTitle:hover{
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
